@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{	
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	display: flex;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	color: #fff;
	height: 100%;
	overflow-x: hidden;
}


.text {
	margin-top: -25px;
	margin-left: 465px;
}

.home{
	display: flex;
	cursor: pointer;
	color: #000000;
	border: transparent;
	background: transparent;
	padding: 0.1rem;
	font-size: 20px;
  	margin-top: -20px;
  	margin-left: 260px;
  	padding-left: -260px;
  letter-spacing: 0.03em;
  transition: 0.5s;
}

.home:hover{
	color: var(--clr);
	letter-spacing: 0.09em;
}

.services{
	display: flex;
	cursor: pointer;
	color: #000000;
	border: transparent;
	background: transparent;
	font-size: 20px;
	padding: 0.1rem;
  	margin-top: -26px;
  	margin-left: 350px;
  	padding-left: -350px;
  letter-spacing: 0.03em;
  transition: 0.5s;
}

.services:hover{
	color: var(--clr);
	letter-spacing: 0.09em;
}

.pricing{
	display: flex;
	cursor: pointer;
	color: #000000;
	border: transparent;
	background: transparent;
	font-size: 20px;
  	padding: 0.1rem;
  	margin-top: -26px;
  	margin-left: 460px;
  	padding-left: -460px;
  letter-spacing: 0.03em;
  transition: 0.5s;
}

.pricing:hover{
	color: var(--clr);
	letter-spacing: 0.09em;
}

.contact{
	display: flex;
	cursor: pointer;
	color: #000000;
	border: transparent;
	background: transparent;
	font-size:20px;
  	padding: 0.1rem;
  	margin-top: -26px;
  	margin-left: 560px;
  	padding-left: -560px;
  letter-spacing: 0.03em;
  transition: 0.5s;
}

.contact:hover{
	color: var(--clr);
	letter-spacing: 0.09em;
}

.signup{
	display: flex;
	cursor: pointer;
	color: #000000;
	border: transparent;
	background: transparent;
	font-size:20px;
	padding: 1rem;
    margin-left: 1050px;
  	margin-top: -30px;
    padding-left: 20px;
  letter-spacing: 0.03em;
  transition: 0.5s;
}

.signup:hover{
	color: var(--clr);
	letter-spacing: 0.09em;
}


.login {
  display: flex;
  cursor: pointer;
  color: #fff;
  border-color: transparent;
  background-color: #b41919;
  font-size:20px;
  padding: 1rem;
  border-radius: 7rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 4px;
  width: 150px;
  margin-left: 1200px;
  margin-top: -60px;
  padding-left: 40px;
  letter-spacing: 0.03em;
  transition: 0.5s;
}

.login:hover{
	background: var(--clr);
	letter-spacing: 0.09em;
}

.nasvay {
  display: flex;
  background-color: rgba(224, 50, 50, 0.781);
  padding: 1.3rem;
  border-radius: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 4px;
  width: 300px;
  margin-left: 90px;
  padding-left: 25px;
}

.explore {
	display: flex;
	padding-left: 100px;
	color: #fff;
}



.enjoy {
	padding-left: 100px;
	display: flex;
	cursor: pointer;
	color: #fff;
  	border-color: transparent;
    background-color: #b41919;
    font-size: 30px;
    padding: 1.1rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 4px;
    width: 250px;
    margin-left: 100px;
    padding-left: 37px;
    margin-top: 30px;
  letter-spacing: 0.03em;
  transition: 0.5s;
}

.enjoy:hover{
	background: var(--clr);
	letter-spacing: 0.05em;
}

.img {
	display: flex;
	width: auto;
	height: auto;
	margin-left: 790px;
	margin-top: -390px;
	border-radius: 5rem;
	padding: 0.7rem;
	position: absolute;
	
}

.rectangle {
position: absolute;
width: 600px;
height: 1024px;
left: 1200px;
bottom: -36px;

background: linear-gradient(180deg, #CA0200 46.19%, rgba(255, 177, 153, 0) 122.31%);
border-radius: 320.5px;
transform: rotate(90deg);
}

.sneaker-footer {
  margin-top: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: #2f3545; /* тёмно-синий блок */
  color: white;
  width: 100vw;
}


.sneaker-image img {
width: 210px;
height: 196px;
top: 810px;
}


.social-links {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #3a3f4f;
  height: 100%;
  align-items: center;
}

.social-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.explore-more {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.explore-more a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

